body {
  font-family: "Ubuntu Condensed", sans-serif;
  background-image: url("color-background.jpg");
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

label {
  display: block;
  margin-top: 0.7em;
}

.logo {
  width: 400px;
  max-width: 200px;
  position: fixed;
  padding: .5em;
  top: 0;
  left: 0;
  margin-bottom: 2em;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5em;

}

nav a {
  margin: 0.5em;
  padding: 0.5em 1em;
}

form {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 2em;
}

form div {
  display: flex;
  flex-direction: row;
  margin: 0.5em 0;
}

form input[type='text'],
form input[type='password'] {
  padding: 0.5em;
  margin: 0.5em 2em;
  width: 100%;
  border-radius: 10px;
}

.login-submit {
  display: inline-block;
  margin: 1em;
}

.view-all-cards {
  margin-top: 35em;
  text-align: center;
  margin-left: 15em;
}

.recipe-cards {
  margin-top: 4em;
  /* background-color: #E58C8A;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px; */
}

/* .recipe-card {
  box-shadow: 10px;
  border-radius: 100px;
} */


