body {
  font-family: "Ubuntu Condensed", sans-serif;
  /* background-image: url("color-background.jpg"); */
  background-color: #A0C4FF;
  background-size: cover;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

label {
  display: block;
  margin-top: 0.7em;
}

.logo {
  width: 200px;
  /* position: fixed;
  top: 0;
  left: 0; */
}

/* .AppBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.Toolbar {
  display: flex;
  justify-content: space-between;
  width: 100%
} */

.Box {
  margin-left: auto;
}


/* nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5em;

}

.navbar {
  display: flex;
  align-items: center;
  padding: 1em 2em;
  margin: 0;

} */

nav a {
  margin: 0.5em;
  padding: 0.5em 1em;
}

.all-recipes-button {
  /* margin-top: 10px; */
  margin-left: auto;
  margin-right: 10px;
}

form {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 2em;
}

form div {
  display: flex;
  flex-direction: row;
  margin: 0.5em 0;
}

form input[type='text'],
form input[type='password'] {
  padding: 0.5em;
  margin: 0.5em 2em;
  width: 100%;
  border-radius: 10px;
}

.login-submit {
  display: inline-block;
  margin: 1em;
}

.recipe-cards {
  margin-top: 4em;
}

.follow {
  width: 250px;
  margin: 2em;
  
}

.icon-link {
  margin-right: 50px;
  font-size: 40px;
}

.search {
  position: fixed;
  top: 0;
  right: 0;
  padding: 5px;
  margin-top: 0;
}

.textfield-boxes {
  border: 1px solid #ccc;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
  width: 100%
}






